footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.672rem;
    background-color: #252525;
    color: #AAAAAA;
    font-size: 0.875rem;
    font-weight: 500;
}